---
import { storyblokEditable, useStoryblokApi } from '@storyblok/astro'
import type { Project } from '@/types'

const storyblok = useStoryblokApi()
const { data } = await storyblok.get('cdn/stories', {
  version: import.meta.env.DEV ? 'draft' : 'published',
  content_type: 'project'
})

const projects: Project[] = data.stories.map((story: any) => ({
  name: story.content.name,
  location: story.content.location,
  architects: story.content.architects,
  img: story.content.cover,
  slug: story.full_slug
}))

const { blok } = Astro.props
---

<ul class="grid grid-cols-1 md:grid-cols-3" {...storyblokEditable(blok)}>
  {
    projects.map(project => (
      <li>
        {project.img && (
          <img
            src={project.img.filename}
            alt={project.img.alt}
            class="aspect-[3/2] w-[360px] rounded object-cover"
          />
        )}
        <div class="pt-2.5">
          <p class="opacity-50">
            {project.architects} &bull; {project.location}
          </p>
          <a
            href={project.slug}
            class="hover:underline hover:underline-offset-2"
          >
            {project.name}
          </a>
        </div>
      </li>
    ))
  }
</ul>
